aws-cfn-bootstrap==2.0
certifi==2021.5.30
chardet==4.0.0
docutils==0.14
greenlet==1.1.0
idna==2.10
importlib-metadata==4.4.0
lockfile==0.11.0
mysqlclient==2.0.3
pystache==0.5.4
python-daemon==2.2.3
requests==2.25.1
simplejson==3.2.0
SQLAlchemy==1.4.17
typing-extensions==3.10.0.0
urllib3==1.26.5
zipp==3.4.1
